<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Milojs</title>
  <script src="/javascript/rainbow-custom.min.js"></script>
  <link href="/stylesheets/milo.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1><a href="/index.html">MiloJS</a></h1>
    <nav>
      <a href="/guides">Guides</a>
      <a href="/api/index.html">API</a>
      <a href="/community">Community</a>
    </nav>
  </header>
  <div id="content">
    <aside>
      {{>sidebar}}
    </aside>
    <article>
      {{>layout_content}}
    </article>
  </div>
</body>
</html>